.activities {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.activities__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: var(--text-secondary-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.activity {
  display: flex;
  padding-left: 0;
}

.activity__item:nth-child(n + 2) {
  margin-left: 30px;
}

.activity__item {
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.activity__image {
  display: block;
}

.activity-flow {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;

  background: rgba(47, 48, 58, 0.8);
  border: 1px solid #000000;
}

.activity__title {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
