.gallery {
  background-color: var(--primary-white-color);
}

.filters {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
  }
}
.filters :nth-child(n + 2) {
  margin-left: 8px;
}

.filters :nth-child(-n + 3) {
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: -15px;

  // margin-top: 40px;
  // margin-top: 50px;
}

.gallery__item {
  margin: 15px;

  border: none;
  background-color: var(--primary-white-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    width: ((100%-60px)/2);
    margin-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
  }
}

.flow {
  position: relative;
  overflow: hidden;
}

.flow__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.flow__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  overflow: hidden;
  margin: 0;
  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover .flow__text {
  transform: translateY(0);
}
.gallery__item:focus .flow__text {
  transform: translateY(0);
}

.card-info {
  padding-top: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  border: 1px solid var(--border-color);
}

.card-info__title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--text-secondary-color);

  text-transform: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-info__text {
  margin-top: 4px;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.87;
}
