.header {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--border-color);
}

.container--flex {
  display: flex;
  position: relative;
  align-items: center;
  @media screen and (max-width: 767px) {
    height: 60px;
  }
}
/* logo */
.logo {
  font-family: Raleway, Verdana, Tahoma, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & span:hover,
  & span:focus {
    color: var(--accent-color);
  }
}

.logo__primary-text {
  color: var(--accent-color);
}
.logo__secondary-text {
  color: var(--text-secondary-color);
}

// -----------------------Mobile-Menu-Button------------------
.menu-nav {
  position: absolute;
  top: 10px;
  right: 15px;

  display: inline-flex;
  padding: 0;
  z-index: 10;

  border: none;
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  fill: #000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu-nav__icon {
  text-align: center;
}

.menu-nav__cross {
  display: none;
}

.menu-nav.is-open .menu-nav__cross {
  display: block;
}

.menu-nav.is-open .menu-nav__menu {
  display: none;
}

.nav-thumb {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 93px;
    justify-content: space-between;
    width: 100%;
  }
}

// --------------------navigation-------------
.pages-list {
  display: flex;

  color: var(--text-secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.pages-list :nth-child(n + 2) {
  margin-left: 50px;
}

.pages-list__item {
  position: relative;
}

.pages-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* -------------------contacts----------- */
.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-left: auto;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contacts__item {
  margin-top: 11px;
  margin-bottom: 0px;
  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.contacts__item--positioning {
  margin-top: 0px;

  @media screen and (min-width: 1200px) {
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--text-primary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
