.social {
  display: flex;

  width: 206px;
  height: 44px;
  align-items: center;
  justify-content: space-between;

  padding: 0;

  &:last-child {
    margin-right: 0px;
  }
}

.social__link {
  display: block;

  width: 44px;
  height: 44px;
  padding: 12px;
  border-radius: 50%;
  margin-right: 10px;

  color: var(--icon-pr-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    outline: none;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

.social__icon {
  display: block;
  fill: currentColor;
  margin: 0 auto;
}
