:root {
  --primary-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --prtf-bg-color: #e5e5e5;
  --secondary-bg-color: #2f303a;
  --text-primary-color: #757575;
  --text-secondary-color: #212121;
  --accent-color: #2196f3;
  --decoration-white-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --icon-pr-color: #afb1b8;
}
